/* details.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar ul li {
    width: 100%;
}

.sidebar ul li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.main-content {
    margin-left: 200px;
    padding: 20px;
    flex-grow: 1;
}

.artist-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.artist-header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.artist-header div {
    flex-grow: 1;
}

.artist-header h1 {
    margin: 0;
    font-size: 2em;
}

.artist-header p {
    margin: 10px 0 0;
    color: #666666;
}

.container {
    width: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title-bar h1 {
    margin: 0;
}

.icons i {
    margin-left: 10px;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #009879;
    color: #ffffff;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

tr:hover {
    background-color: #f1f1f1;
}

th {
    font-weight: bold;
}
